@charset "utf-8";
@import url(font-awesome.min.css);
@import url(font-jemp.css);

/*General*/

body {
	color: #231f20 /*COLORE TESTO GENERICO*/;
	font-family: "ATOurBodoni", serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.75em;
}

a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #231f20 /*COLORE LINK GENERICO*/;
	text-decoration: none;
}

	a:hover {
		color: #231f20 /*COLORE LINK GENERICO HOVER*/;
	}

strong, b {
	color: #231f20 /*COLORE GRASSETTO GENERICO*/;
}

p {
	margin: 0 0 2em 0;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	color: #231f20 /*COLORE TITOLI GENERICO*/;
	font-family: "FuturaStd", sans-serif;
	font-weight: 900;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-align: left;
}

	h1 {font-size: 40px;}
	h2 {font-size: 30px;}
	h3 {font-size: 25px;}
	h4 {font-size: 20px;}
	h5 {font-size: 15px;}
	h6 {font-size: 10px;}

.alignleft {text-align: left;}
.aligncenter {text-align: center;}
.alignright {text-align: right;}

.left {
	float: left;
}

.right {
	float: right;
}

.right .left, .left .left {
	padding-left: 0;
}

.right .right, .left .right {
	padding-right: 0;
}

.row {
	margin:auto;
	text-align: center;
}

.row:after {
	display: table;
	content: "";
	clear: both;
}
/*Transtions*/
.color{
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #231f20;
}

	.color:hover {
		color: #fff;
	}

.opacity {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity: 0.5;
}

	.opacity:hover {
		opacity: 1;
	}

/*Responsive blocks*/

.block {
	display: inline-block;
	position: relative;
	margin: 0;
	height: auto;
}

header {
	background: #ffd100 /*COLORE SFONDO MENU*/;
	cursor: default;
	height: 4em;
	line-height: 4em;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 10000;
	box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6);
}

	header h1 {
		color: #231f20 /*COLORE TITOLO MENU*/;
		font-family: "FuturaStd", sans-serif;
		font-weight: bold;
		left: 1.25em;
		top: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		height: inherit;
		line-height: inherit;
	}

	header #openbtn {
		left: 1.25em;
		top: 0.5em;
		position: absolute;
	}

	header #closebtn {
		left: 1.25em;
		top: 0.5em;
		position: absolute;
	}

	header nav {
		right: 1.25em;
		top: 0;
		height: inherit;
		line-height: inherit;
		position: absolute;
	}

		header nav > ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

			header nav > ul > li {
				display: inline-block;
				margin-left: 0;
				padding-left: 0;
				height: 4em;
			}
				header nav > ul > .icon a {
					padding: 0 0.25em;
				}

				header nav > ul > .icon i {
					vertical-align: middle;
					padding-bottom: 0.15em;
				}

				header nav > ul > li a {
					font-family: "FuturaStd", sans-serif;
					font-weight: bold;
					padding: 0 0.75em;
				}

				header nav > ul > li:first-child {
					margin-left: 0;
				}

@media screen and (min-width: 1024px) {
	#openbtn i {		display: none; }
	#closebtn i {		display: none; }
}

@media screen and (max-width: 1023px){
	header h1 {
		left: 0;
		position: relative;
		text-align: center;
	}

	header nav {
		right: 0;
	}

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: #ffd100 /*COLORE SFONDO MENU MOBILE*/;
		opacity: 0.9;
		overflow-x: hidden;
		transition: 0.5s;
	}

	.overlay-content {
		position: relative;
		top: 4em;
		width: 100%;
		text-align: center;
	}

	.overlay .color {
		font-size: 30px;
		color: #231f20 /*COLORE VOCI MENU MOBILE*/;
		display: block;
		transition: 0.3s;
	}
}

/*Banner*/

#banner {
	background-image: url("../images/IMG_8457-1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff /*COLORE TESTO BANNER*/;
	padding: 20% 0;
	text-align: center;
	position: relative;
	height: 100%;
	pointer-events: none;

}

	#banner:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.25);
	}

	#banner .content {
		position: relative;
		z-index: 1;
	}

		#banner .content:last-child {margin-bottom: 0;}

	#banner h1, #banner h2,
	#banner h3, #banner h4,
	#banner h5, #banner h6 {
		color: #fff /*COLORE TITOLI BANNER*/;
	}

	#banner h2 {
		font-family: "FuturaStd", sans-serif;
		text-align: center;
		font-weight: bold;
		font-size: 100px;
		line-height: 1em;
		margin: 0 0 0.3em 0;
		padding: 0;
	}

	#banner p {
		font-family: "FuturaStd", sans-serif;
		font-weight: 500;
		font-size: 30px;
		margin-bottom: 2em;
		text-align: center;
	}

<<<<<<< HEAD
	#videoBG{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: url("../images/IMG_8457-1.jpg");
		background-position: center center;
	}
	#pattern-overlay {
		top:0;
		left: 0;
		pointer-events: none;
	width: 100%;
	height: 100%;
	background-image: url("../images/pattern_overlay.png");
	background-repeat: space;
	position: absolute;
	opacity: 0.5;
}


=======
>>>>>>> home-pa
/*Wrapper*/

#wrapper {
	padding: 0;
	color: #231f20 /*COLORE TESTO WRAPPER*/;
}

	#wrapper h1, #wrapper h2,
	#wrapper h3, #wrapper h4,
	#wrapper h5, #wrapper h6 {
		font-family: "FuturaStd", sans-serif;
		font-weight: bold;
		padding: 0.25em 0;
		color: #231f20 /*COLORE TITOLI WRAPPER*/;
	}

	#wrapper h2 {
		background: #fdd100 /*COLORE SFONDO TITOLI WRAPPER, GIALLO PANTONE */;
		padding-left: 0.75em;
	}

	#wrapper img {
		max-width: 100%;
		margin: auto;
		top: 0.25em;
	}

/*Counter*/

#counter {
	padding: 4em 0 3em 0;
	background: #ffd100 /*COLORE SFONDO COUNTER*/;
	color: #231f20 /*COLORE TESTO COUNTER*/;
	text-align: center;
}

	#counter h1, #counter h2,
	#counter h3, #counter h4,
	#counter h5, #counter h6 {
		font-family: "FuturaStd", sans-serif;
		font-weight: bold;
		padding: 0.25em 0;
		color: #231f20 /*COLORE TITOLI COUNTER*/;
		text-align: center;
	}

	#counter h1 {
		font-size: 75px;
		margin-bottom: auto;
	}

	#counter h3, #counter i {
		margin-bottom: 1em;
	}

/*Footer*/

footer {
	background: #d6d6d6 /*COLORE SFONDO FOOTER*/;
	padding: 4em 0;
	margin-top: 4em;
	text-align: center;
}

	footer .logo h1 {
		font-size: 100px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0.5em;
	}

	footer .icon {
		color: #231f20 /*COLORE ICONE FOOTER*/;
		font-size: 1em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}

		footer .icon li {
			display: inline-block;
			margin-left: 1.5em;
			padding-left: 1.5em;
			list-style: none;
		}

		@media screen and (max-width: 639px) {
			footer .icon li {
				padding-left: 0.5em;
				margin-left: 0.5em;
			}
		}

			footer .icon li:first-child {
				margin-left: 0;
				padding-left: 0;
			}


	footer .copyright {
		font-family: "FuturaStd";
		font-weight: 500;
		color: #7b7b7b /*COLORE COPYRIGHT FOOTER*/;
		font-size: 1em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}

		footer .copyright li {
			border-left: solid 1px #7b7b7b /*COLORE DIVISORIA COPYRIGHT*/;
			display: inline-block;
			margin-left: 1.5em;
			padding-left: 1.5em;
			list-style: none;
		}

			footer .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

			footer .copyright li a {
				color: #231f20 /*COLORE LINK COPYRIGHT FOOTER*/;
			}

		@media screen and (max-width: 639px) {
			footer .copyright li {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
		}
