@-ms-viewport {                 width: device-width; }
@-ms-viewport {                 width: device-width; }
@-webkit-viewport {             width: device-width; }
@-moz-viewport {                width: device-width; }
@-o-viewport {                  width: device-width; }
@viewport {                     width: device-width; }

.element {      position: relative; display: inline-block; vertical-align: middle; height: auto; margin: 0; }
.white	 {		position: relative; display: inline-block; vertical-align: middle; height: 1px; margin: 0; }

/* DESKTOP 12 columns (column = gutter x 6) */
/* suggested line heights: 1.1494vw, 2.2989vw, 3.4483vw */
@media screen and (min-width: 1600px) {
	.left {			padding-left: 1.1494vw; }
	.right {		padding-right: 1.1494vw; }	
	.row {			padding-bottom: 1.1494vw; }
    .element {      margin: 0 0.5747vw 1.1494vw 0.5747vw; }
    .desktophdn {   display: none }

    .w1 { width: 6.8966vw; } .w2 { width: 14.9425vw; } .w3 { width: 22.9885vw; } .w4 { width: 31.7647vw; } .w6 { width: 47.1264vw; } .w8 { width: 63.2184vw; } .w12 { width: 95.4023vw; }
}

/* L LAPTOP 8 columns (column = gutter x 7) */
/* suggested line heights: 1.4925vw, 2.9851vw, 4.4776vw */
@media screen and (min-width: 1300px) and (max-width: 1599px) {
	.left {			padding-left: 1.4925vw; }
	.right {		padding-right: 1.4925vw; }	
	.row {			padding-bottom: 1.4925vw; }
	.element {		margin: 0 0.74625vw 1.4925vw 0.74625vw; }
    .laptophdn {   	display: none }
	
    .lw1 { width: 10.4478vw; } .lw2 { width: 22.3881vw; } .lw3 { width: 34.3284vw; } .lw4 { width: 46.2687vw; } .lw6 { width: 70.1493vw; } .lw8 { width: 94.0299vw; }
}

/* T TABLET 6 columns (column = gutter x 8) */
/* suggested line heights: 1.7544vw, 3.5088vw, 5.2632vw */
@media screen and (min-width: 1024px) and (max-width: 1299px) {
	.left {			padding-left: 1.7544vw; }
	.right {		padding-right: 1.7544vw; }	
	.row {			padding-bottom: 1.7544vw; }
	.element {		margin: 0 0.8772vw 1.7544vw 0.8772vw; }
    .tablethdn {    display: none }

	.tw1 { width: 14.0351vw; } .tw1x { width: 21.9298vw; } .tw2 { width: 29.8246vw; } .tw3 { width: 45.6140vw; } .tw4 { width: 61.4035vw; } .tw6 { width: 92.9825vw; }
}

/* P PHABLET + landscape phones 4 columns (column = gutter x 10) */
/* suggested line heights: 2.1277vw, 4.2553vw, 6.3830vw */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.row {			padding-bottom: 2.1277vw; }
	.element {		margin: 0 1.06385vw 2.1277vw 1.06385vw; }
    .phablethdn {   display: none }
	
	.pw1 { width: 21.2766vw; } .pw2 { width: 44.6809vw; } .pw3 { width: 68.0851vw; } .pw4 { width: 91.4894vw; }
}
@media screen and (max-width: 639px) and (orientation: landscape) {
	.row {			padding-bottom: 2.1277vw; }
	.element {		margin: 0 1.06385vw 2.1277vw 1.06385vw; }
    .phablethdn {   display: none }
	
	.pw1 { width: 21.2766vw; } .pw2 { width: 44.6809vw; } .pw3 { width: 68.0851vw; } .pw4 { width: 91.4894vw; }
}

/* M MOBILE 3 columns (column = gutter x 11) */
/* suggested line heights: 2.3810vw, 4.7619vw, 7.1429vw */
@media screen and (max-width: 639px) and (orientation: portrait) {
	.row {			padding-bottom: 2.3810vw; }
	.element {		margin: 0 1.1905vw 2.3810vw 1.1905vw; }
    .mobilehdn {    display: none }
    
    .mw1 { width: 28.5714vw; } .mw2 { width: 59.5238vw; } .mw3 { width: 90.4762vw; }
}